<footer class="bg-light text-muted mt-5">
    <div class="container">
        <div class="row p-5">
            <div class="col-sm-12 text-center">

                <p>Copyright&copy; 2021 tastylog. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>